<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/collapseButton.js" defer></script>
  </head>
  <body>
    <div class="container">
      <%- include('partials/sidebar-nav.ejs') %>
      <main>
        <h1><%= data.title %></h1>
        <% if (data.item_list.length) { %>
          <ul>
            <% data.item_list.forEach((item) => { %>
              <li>
                <div style="display: flex; gap: 8px; align-items: center;">
                  <button class="collapse-button">-</button>
                  <a href=<%= item.url %>><%= item.name %></a>
                </div>
                <ul style="list-style: none;">
                  <li><%= item.description %></li>
                  <li>Price: $ <%= item.price %></li>
                  <li>In Stock: <%= item.numberInStock %></li>
                </ul>
              </li>
            <% }) %>
          </ul>
        <% } else { %>
          <p>There are no items.</p>
        <% } %>
      </main>
    </div>
  </body>
</html>
